body {
    font-family: 'Roboto';
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    max-width: 954px;
    max-height: 594px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
}

.main__big-box {
    background-color: #F4E9CD;
    flex-grow: 2;
    max-width: 613px;
    width: 100%;
    display: flex;
    align-items: center;
}

.main__form {
    background-color: #F4E9CD;
    color: #468189;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 65px;
    box-sizing: border-box;
}

.main__form-lable {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    opacity: 0.7;
}

:placeholder-shown {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
    color: #468189;
    background-color: #F4E9CD;
    border: none;
    border-bottom: 1px solid #9DBEBB;
}

.main__form-top {
    box-sizing: border-box;
    padding-top: 10px;
}

.main__form--middle {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    box-sizing: border-box;
    padding-top: 20px;
}

.main__form--middle-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 20px;
    flex-direction: column;
}

.main__form--middle-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.main__form-bottom {
    box-sizing: border-box;

}

.main__form-button {
    background-color: #468189;
    color: #fff;
    border-radius: 40px;
    max-width: 202px;
    width: 100%;
    max-height: 48px;
    height: 100%;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-left: 40px;


}

.main__small-box {
    background-color: #77ACA2;
    flex-grow: 1;
  
}

.main__img {
    max-width: 405px;
    max-height: 450px;
}