body {
    font-family: 'Roboto';
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__big-box {
    background-color: #F4E9CD;
    flex-grow: 3;
}

.main__small-box {
    background-color: #77ACA2;
    max-width: 345px;
    flex-grow: 1;
}

.main__img {
    max-width: 405px;
    max-height: 450px;
}